DATABASE_URL="https://aiwancdhwmeohztppcg.supabase.co"
DATABASE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFpd2FuY2R3aG1lb2hoenRwcGNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMxMjQ1NjgsImV4cCI6MjA1ODcwMDU2OH0.yX7xtQaA1AR1h1AzddBRXzBRZMUj0XCc0YDHZEshP3Q"